<div class="container d-flex justify-content-center mt-5 mb-5" style="width: 80rem;">
    <div class="card cont-table">
        <div class="card-header card-header-sena-azul">
            <h4 class="card-title">Listado de Regionales</h4>
        </div>
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered text-center">
                    <thead>
                        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                        <tr>
                            <td>ID</td>
                            <td>Regional</td>
                            <td>Dirección</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let regional of regionales">
                            <td>{{ regional.id }}</td>
                            <td>{{ regional.regional }}</td>
                            <td>{{ regional.direccion }}</td>
                            <td>
                                <button (click)="modalverRegional(regional.id)" title="ver">
                                    <i class="bi bi-eye black-icon"></i>
                                </button>
                                <button (click)="modaleditarRegional(regional.id)" title="editar">
                                    <i class="bi bi-pencil black-icon"></i>
                                </button>
                                <button (click)="eliminarRegional(regional.id)" title="eliminar">
                                    <i class="bi bi-trash black-icon"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>{{regionales}}</p>
            </div>
        </div>
    </div>
</div>
