<div class="container d-flex justify-content-center mt-3 mb-3" style="width: 90rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-sena-azul">
                        <h4 class="card-title">Listado de Regionales</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group"
                            style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
                            <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
                                (input)="filtrarRegionales()" [(ngModel)]="terminoBusqueda">
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-dark">
                                    <tr>
                                        <td>ID</td>
                                        <th>Nombre Regional</th>
                                        <th>Dirección</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="!noResultados; else noResultados">
                            
                                        <tr
                                            *ngFor="let regional of regionalesFiltradas | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index">

                                            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>

                                            <td>
                                                <ng-container *ngIf="!regional.editando">
                                                    {{ regional.regional }}
                                                </ng-container>
                                                <ng-container *ngIf="regional.editando">
                                                    <input type="text" [(ngModel)]="regionales[i].regional"
                                                        class="form-control" placeholder=".">
                                                </ng-container>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="!regional.editando">
                                                    {{ regional.direccion }}
                                                </ng-container>
                                                <ng-container *ngIf="regional.editando">
                                                    <input type="text" [(ngModel)]="regionales[i].direccion"
                                                        class="form-control" placeholder=".">
                                                </ng-container>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="!regional.editando">
                                                    <!-- Icono de edición -->
                                                    <button title="Editar Regional" id="button"
                                                        (click)="editarRegional(i)">
                                                        <span class="fa-solid  fa-edit"></span>
                                                    </button>
                                                </ng-container>
                                                <ng-container *ngIf="regional.editando">
                                                    <!-- Botón para guardar cambios -->
                                                    <button class="btn btn-danger"
                                                        (click)="guardarCambios(i)">Guardar</button>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noRegionales>
                                        <tr>
                                            <td colspan="3">No hay regionales para mostrar</td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>