.container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea */
    justify-content: flex-start; /* Alinea los elementos al principio */
    gap: 20px; /* Espacio entre los elementos */
}

.select-container {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Sombreado */
    width: calc(25% - 15px); /* Ancho de cada contenedor (25% del ancho total menos el espacio entre ellos) */
    position: relative; /* Ajusta la posición del triángulo */
    color: rgb(22, 20, 128)
}
.select-vertical {
    padding: 5px; /* Reducción del padding */
    appearance: none;
    border: none; /* Elimina el borde */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Sombreado */
    width: calc(100% - 0px); /* Ajusta el ancho del select */
    position: relative; /* Ajusta la posición del triángulo */

}


select {
    width: calc(100% - 0px); /* Ajusta el ancho del select */
    padding: 5px; /* Reducción del padding */
    appearance: none;
    border: none; /* Elimina el borde */
}
label {
    margin-right: 10px;
}

.triangle {
    position: absolute;
    top: 50%;
    right: 6px; /* Ajusta la posición horizontal del triángulo */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* Ajusta el tamaño del triángulo */
    border-right: 6px solid transparent; /* Ajusta el tamaño del triángulo */
    border-top: 4px solid #838383; /* Cambia el color del triángulo */
    transition: transform 0.3s ease; /* Transición de rotación */
}

.rotate {
    transform: rotate(180deg); /* Rotación para indicar que el select está abierto */
}

.custom-select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .custom-select span {
    margin-right: 5px; /* Espacio entre la cantidad y la descripción */
  }
  
  .custom-select i {
    margin-left: auto;
  }
  .blue-line {
    border-top: 1px solid rgb(18, 18, 116);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(22, 20, 128);
  }
  
  .puestos {
    padding: 5px; /* Reducción del padding */
    margin-top : 20px;
    appearance: none;
    border: none; /* Elimina el borde */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Sombreado */
    width: calc(100% - 0px); /* Ajusta el ancho del select */
    position: relative; /* Ajusta la posición del triángulo */

}

.puesto-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre cada puesto */
  }
  
  .cantidad-rectangulo {
    background-color:rgb(32, 32, 75); /* Color de fondo para el contenedor de cantidad */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-right: 10px; /* Espacio entre el contador y la descripción */
    color: #fff;
margin-top: 10px;
margin: 10px;

  }
  
  .descripcion-puesto {
    background-color: #ffffff; /* Color de fondo para el contenedor de descripción */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    flex: 1; /* Ocupa todo el espacio restante */
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);

  }
  