<div class="container">

<div class="select-vertical"style= "margin-top:20px">
    <label for="puestosVigilancia">Vigilancia Humana:</label>
    <select id="puestosVigilancia" (change)="onPuestoVigilanciaSelected($event.target.value)">
      <option value="" disabled selected>Seleccione Tipos de puestos   </option>
      <option *ngFor="let puesto of puestos" [value]="puesto.idpuesto_vigilancia" [disabled]="puesto.seleccionado">{{ puesto.descripcion_puesto }}</option>
    </select>
    <div class="triangle" [class.rotate]="isSelectOpen('puestosVigilancia')"></div>
  </div>
  <div *ngFor="let puesto of puestosSeleccionados" class="puesto-container">
    
    <div class="descripcion-puesto">
      <!-- Descripción del puesto seleccionado -->
      <span>Descripción del puesto : {{ puesto.descripcion_puesto }}</span>
    </div>
    <div class="cantidad-rectangulo ">
      <!-- Espacio para el contador -->
      <span>Cantidad: {{ puesto.cantidad }}</span>
      <button class="btn btn-danger btn-sm" (click)="aumentarCantidad(puesto)">
        <i class="fa fa-plus"></i> <!-- Icono de aumento -->
      </button>
    </div>
    
  </div>
  
  <hr>
  <div class="select-vertical"style= "margin-top:20px">
    <label for="vigilanciaElectronica"> Vigilancia Electronica:</label>
    <select id="vigilanciaElectronica" (change)="onPuestoVigilanciaSelected($event.target.value)">
      <option value="" disabled selected>Seleccione Tipos de puestos   </option>
      <option *ngFor="let vigiElect of vigiElectronica" [value]="vigiElect.idvigilancia_electronica" [disabled]="vigiElect.seleccionado">{{ vigiElect.descripcion }}</option>
    </select>
    <div class="triangle" [class.rotate]="isSelectOpen('vigilanciaElectronica')"></div>
  </div>

  <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>

</div>