<div class="modal-header d-flex justify-content-center align-items-center bg-danger text-white">
    <h5 class="modal-title">Editar Contrato: {{ contratoSeleccionado?.nombre_empresa }}</h5>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" id="descripcion" class="form-control" [(ngModel)]="descripcionEdit" />
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="fechaInicio">Fecha de inicio:</label>
                    <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicioEdit">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="fechaFin">Fecha final:</label>
                    <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFinEdit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-danger mr-2" (click)="actualizarContrato()">Actualizar</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
</div>
