<div class="container mx-auto d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
            <h5 class="modal-title">Editar Contrato: {{ contratoSeleccionado?.nombre_empresa }}</h5>
        </div>
        <div class="card-body">
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center;">    
    <div class="form-group">
        <label for="nombre">Fecha de inicio:</label>
        <input  style="text-align: center;" type="date" class="form-control rounded-input" [(ngModel)]="fechaInicioEdit">
    </div>
    <br>
    <div class="form-group">
        <label for="nombre">Fecha final:</label>
        <input  style="text-align: center;" type="date" class="form-control rounded-input" [(ngModel)]="fechaFinEdit">
    </div>
<br>
    <div>
        <label for="contrato_pdf">Agregar Nuevo PDF del Contrato:</label>
        <input type="file" class="form-control-file" id="contrato_pdf" (change)="onFileSelected($event)">
    </div>
</div>
</div>
<div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn" (click)="actualizarContrato()">Actualizar</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
</div>
    </div>
</div>
