footer {
    background-color:#002340; /* Color de fondo blanco */
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }