.footer {
  background-color: rgba(0, 49, 77, 1) !important; /* Color de fondo principal */
  color: #fff; /* Color del texto */
  bottom: 0; /* Posición en la parte inferior */
  width: 100%; /* Ocupa todo el ancho */
  display: flex; /* Flexbox para centrar contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 10px; /* Espacio interno alrededor del contenido */
  position: fixed; /* Fija el footer en la parte inferior */
  text-align: center; /* Asegura que el texto esté centrado */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  font-size: 0.9em; /* Tamaño de fuente ligeramente menor */
}

.footer p {
  margin: 0; /* Elimina el margen del párrafo */
  font-size: 0.9em; /* Tamaño de fuente ligeramente menor */
}

.footer a {
  color: #ffffff; /* Color dorado para los enlaces */
  text-decoration: none; /* Quita el subrayado */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado en hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer {
    padding: 15px; /* Aumenta el padding en pantallas pequeñas */
    font-size: 0.8em; /* Reduce el tamaño de fuente */
  }
}
