<div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Administrar Solicitudes para el centro: {{ centroSeleccionado.centro_formacion }}</h2>
      </div>
      <div class="modal-body">
        <div *ngIf="solicitudes.length > 0; else noData">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha Respuesta</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Respuesta</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudes let i = index">
                <td>{{(currentPage - 1) * pageSize + i + 1}}</td>
                <td>{{ solicitud.fecha_solicitud | date }}</td>
                <td>{{ solicitud.fecha_Respuesta | date }}</td>
                <td>{{ solicitud.tipo_puesto }}</td>
                <td>{{ solicitud.cantidad_solicitada }}</td>
                <td>{{ solicitud.estado_solicitud }}</td>
                <td>{{ solicitud.descripcion_Solicitud }}</td>
                <td>{{ solicitud.respuesta }}</td>
                <td>
                  <ng-container *ngIf="solicitud.estado_solicitud === 'aprobada' || solicitud.estado_solicitud === 'rechazada'; else actionButtons">
                    Finalizado
                  </ng-container>
                  <ng-template #actionButtons>
                    <button class="btn btn-success" (click)="aprobarSolicitud(solicitud)">Aprobar</button>
                    <button class="btn btn-danger" (click)="mostrarModalRechazo(solicitud)">Rechazar</button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
        <ng-template #noData>
          <p>No hay solicitudes para este centro.</p>
        </ng-template>
        <button type="button" class="btn btn-muted" (click)="close()">Cerrar</button>
      </div>
    </div>
  
    <!-- Modal de rechazo -->
    <div class="modal" *ngIf="mostrarModalRechazoFlag">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Motivo de Rechazo</h2>
        </div>
        <div class="modal-body">
          <textarea [(ngModel)]="motivoRechazo" placeholder="Ingrese el motivo del rechazo"></textarea>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="rechazarSolicitud()">Confirmar</button>
          <button class="btn btn-secondary" (click)="cerrarModalRechazo()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  