/* Ajusta la posici칩n del sidebar y el navbar */
.sidebar {
  position: fixed; /* Cambia la posici칩n a fija para que se mantenga visible al hacer scroll */
  top: 0;
  left: 0;
  bottom: 0; /* Hace que el sidebar ocupe toda la altura disponible */
  width: 250px;
  z-index: 1000;
}

app-navbar {
  position: fixed; /* Cambia la posici칩n a fija para que se mantenga visible al hacer scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilos aplicados solo cuando isLoggedIn es true */
.content.content-with-sidebar {
  padding-top: 60px; /* Ajusta el espaciado superior para dejar espacio para el navbar */
  margin-left: 250px; /* Deja espacio para el sidebar */
  margin-top: 60px; /* Compensa el espacio del navbar */
}

/* Estilos aplicados solo cuando isLoggedIn es false */
.full-width-content {
  margin-left: 0; /* Ajusta el margen izquierdo cuando el sidebar no est치 visible */
}
