<!-- Botón de menú hamburguesa para pantallas pequeñas -->
<div class="pos-f-t" *ngIf="isLoggedIn && isSmallScreen()" style="background-color: transparent;">
  <nav class="navbar">
    <button class="navbar-toggler" type="button" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSidebar()">
      <i class="fa fa-bars px-4" style="color: white;" ></i>
    </button>
  </nav>
  <div [ngClass]="{ 'collapse show': sidebarOpen, 'collapse': !sidebarOpen }" id="navbarToggleExternalContent">
    <div class="sidebar-content">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>

<div class="wrapper" [ngClass]="{ 'sidebar-visible': isLoggedIn }">
  <!-- Contenido principal -->
  <div class="content" [ngClass]="{ 'content-with-sidebar': isLoggedIn }">
    <app-navbar></app-navbar> <!-- Mover el navbar dentro del contenido principal -->
    <router-outlet></router-outlet>

    <!-- Botón para mostrar el sidebar en pantallas pequeñas -->
    <button class="sidebar-toggle" *ngIf="!isLoggedIn && isSmallScreen()" (click)="toggleSidebar()">
      <i class="bi bi-list" style="background-color: red;" ></i> <!-- Icono para abrir el sidebar -->
    </button>
  </div>

  <!-- Sidebar (solo se muestra cuando está loggedIn) -->
  <div *ngIf="isLoggedIn || sidebarOpen" class="sidebar sidebar-open" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg" #sidebar>
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>

  <!-- Espacio ocupado por el sidebar cuando no está visible -->
  <div *ngIf="!isLoggedIn && !isHomepage()" class="full-width-content"></div>
</div>

<app-footer></app-footer>
