<!-- <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    </div>
</nav> -->
<header class="header">
  <div class="logo">
    <img class="logo-img" src="../../../assets/img/sena.png" alt="Símbolo del SENA">
  </div>
  <div class="frasesigoset">
      <h1>SIGOSET</h1>
  </div>
  <div class="sesion">
    <img class="sesion-img" src="../../../assets/img/sesion.png" alt="Simbolo inicio secion">
  </div>
  <nav class="nav">
    <a class="a" routerLink="/">Inicio de Sesión</a>
  </nav>
</header>
<div class="main-content">
  <h1 class="h1">BIENVENIDO A:</h1>
  <div class="sigoset">
    <img class="sisgoset-img" src="../../../assets/img/Logo_Sigoset.png" alt="Simbolo inicio secion">
  </div>
</div>





