.nav {
  background-color: rgba(0, 49, 77, 1) !important;
  padding: 10px; /* Espaciado interno */
  display: flex;
  justify-content: space-between; /* Alinear elementos al principio y al final */
  align-items: center; /* Centrar verticalmente los elementos */
}

.a_iniciar {
  color: rgb(255, 255, 255); /* Color del texto del enlace */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-weight: bold;
  margin: 10px; /* Espacio entre el enlace y el borde derecho */
  border: 1px solid #0e0e0e; /* Cambiar border-radius por border */
  padding: 10px 29px; /* Añadir relleno al enlace */
  font-size: 18px; /* Aumentar tamaño de la letra */
  border-radius: 3px;
  border: 2px solid white;
}

.image_logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.btn{
  color: rgba(0, 49, 77, 1); /* Color del texto del enlace */
  margin: 10px; /* Espacio entre el enlace y el borde derecho */
  border: 1px solid white;
  padding: 10px 15px; /* Añadir relleno al enlace */
  font-size: 18px; /* Aumentar tamaño de la letra */
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.a_iniciar:hover{
background-color: white;
color: rgba(0, 49, 77, 1);
}