.nav {
  background-color: rgba(0, 49, 77, 1) !important;
  padding: 10px; /* Espaciado interno */
  display: flex;
  justify-content: space-between; /* Alinear elementos al principio y al final */
  align-items: center; /* Centrar verticalmente los elementos */
}

.a_iniciar {
  color: white; /* Color del texto del enlace */
  text-decoration: none; /* Quitar subrayado del enlace */
  margin: 10px; /* Espacio entre el enlace y el borde derecho */
  border: 1px solid #0e0e0e; /* Cambiar border-radius por border */
  padding: 5px 10px; /* A単adir relleno al enlace */
  font-size: 18px; /* Aumentar tama単o de la letra */
  border-radius: 3px;
}

.image_logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.btn{
  color: rgb(255, 255, 255) ; /* Color del texto del enlace */
  margin: 10px; /* Espacio entre el enlace y el borde derecho */
  border: 1px solid white;
  padding: 5px 10px; /* A単adir relleno al enlace */
  font-size: 18px; /* Aumentar tama単o de la letra */
  border-radius: 10px;
  background-color: rgba(0, 49, 77, 1);
}