* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo gris claro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #002340; /* Color de fondo azul */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer {
    background-color:#002340; /* Color de fondo blanco */
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  a {
    text-decoration: none;
    color: rgb(245, 244, 244);
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    font-weight: 600;
    padding-right: 30px;
    padding: 12px;
  }
  
  nav a:hover {
    color: rgb(211, 211, 211);
    background: rgb(5, 162, 235);
    border-radius: 1000px;
    transition: 0.2s;
  }
  
  /*.face-icon,
  .wasa-icon,
  .instagran-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }*/
  
  .logo-img {
    width: 80px; /* Nuevo tamaño del logo */
    height: 80px;
  }
  .sesion-img {
    width: 80px; /* Nuevo tamaño del logo */
    height: 80px;
  }
  
  
  
  .frasesigoset {
    margin-right: auto; /* Ajusta el valor según necesites */
    padding-left: 10px;
  }
  
  h1,
  p {
    text-align: center;
    margin: auto;
    flex: 1;
    max-width: 800px;
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
  }
  
  .sigoset {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  /* Media queries para hacer el diseño más responsivo */
  
  @media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        padding-right: 0;
        padding-bottom: 10px;
    }
  
    .header {
        flex-direction: column;
        text-align: center;
    }
  }