/* Estilos para el contenido principal */
.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Añade un espacio de relleno alrededor del contenido */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido verticalmente */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo gris claro */
  min-width: 320px; /* Ajusta el ancho mínimo para evitar que el contenido se colapse */
  max-width: 100%; /* Ajusta el ancho máximo para que el contenido no se estire más allá del 100% del viewport */
  min-height: 100vh; /* Asegura que el contenido se extienda hasta el fondo de la pantalla */
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Añade un espacio de relleno alrededor del contenido */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo gris claro */
  min-width: 320px; /* Ajusta el ancho mínimo para evitar que el contenido se colapse */
  max-width: 100%; /* Ajusta el ancho máximo para que el contenido no se estire más allá del 100% del viewport */
  min-height: 100vh; /* Asegura que el contenido se extienda hasta el fondo de la pantalla */
}


.text_welcome {
  color: #002340;
  font-style: normal;
  font-size: 30px; /* Tamaño de fuente para dispositivos pequeños */
  text-align: center;
}

.imagen_sigoset {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  max-width: 800px; /* Limita el ancho máximo de la imagen */
  margin-top: 20px; /* Añade un espacio superior */
  transition:ease-in-out;

}
.imagen_sigoset {
  transition: transform 0.3s ease-in-out; /* Duración y tipo de transición */
}

.imagen_sigoset:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}
