<div class="container_principal">
  
  <div class="main-content">
    <div class="content_main">
      <h1 class="text_welcome">Bienvenido a</h1>
      <img src="assets/img/Logo_Sigoset.png" alt="Símbolo del aplicativo" class="imagen_sigoset">
    </div>
    
  </div>
  <!-- <div class="footer_content">
    <p class="class_footer">Copyright © 2021  <a href="https://develdfp.cloudsenactpi.net/#/home" class="link_sena">  Fábrica de software</a>- Centro de Teleinformática y Producción
      Industrial - Regional Cauca  </p>
  </div> -->
</div>