@import '~bootstrap-icons/font/bootstrap-icons.css';

button{
    background-color: transparent !important; /* Fondo transparente */
    border-color: transparent !important; /* Borde transparente */
    padding: 0;
  }