/* Estilos para el contenedor */
.container {
    border-radius: 15px; /* Bordes redondos */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el input dentro del contenedor */
.container input[type="text"] {
    border-radius: 10px; /* Bordes redondos */
    border: 2px solid #007bff; /* Borde sólido con color azul (puedes cambiar el color) */
    padding: 10px; /* Espaciado interno */
    width: 50%; /* Ancho completo */
    box-sizing: border-box; /* Incluir el ancho del borde y el relleno en el ancho total */
}

/* 
/* Estilos para los botones */





/* Estilos para el botón de cerrar en la cabecera */
.boton {
    width: 10%;
    padding: 3px;
    left: 6px;
    border-radius:5px ;
    font-weight:bolder ;
    right: 6px;
    top: 3px;
    color: #012349;
    background-color: #ffffff; /* Color del icono de cierre */
}

@media screen and (max-width: 800px) {
    .boton{
        width: 30%;
    }   
}


/* Estilos para los campos de formulario */
.form-group {
    margin-bottom: 1.5rem; /* Margen inferior */
}

.form-control {
    border-radius: 5px; /* Bordes redondeados */
    border-color: #ced4da; /* Color del borde */
}
