<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 80rem;">
        <div class="card-header card-header-sena-azul">
            <h4 class="card-title">Crear Nuevo Perfil</h4>
        </div>

        <div class="card-body">
            <form (submit)="crearPerfil()" class="w-100">
                <div class="form-group d-flex flex-column align-items-center">
                    <label for="nombre">Nombre del Perfil:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nuevoPerfil.perfil"
                        required>
                </div>
                <!-- Agrega más campos según sea necesario para tu perfil -->

                <div class="d-flex justify-content-between w-100">
                    <button type="submit" class="btn">CREAR PERFIL</button>
                    <button type="button" class="boton" (click)="close()">CERRAR</button>
                </div>
            </form>
        </div>
    </div>
</div>