@import "~bootstrap/dist/css/bootstrap.css";

.modal {
    display: none; /* Por defecto oculto */
   
  }
  
  .modal.show {
    display: block; /* Mostrar cuando la clase .show está presente */
  }
  

/* Define el tamaño de la modal */
.custom-modal {
  max-width: 800px; /* Ancho máximo */
  width: 100%; /* Para asegurarse de que ocupe todo el ancho disponible */
}
#bpton {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

