<div class="container cont-table">
    <div class="title">
        <div class="row">
            <div class="col">
                <h1 class="col text-center">Listado de Puestos de Vigilancia</h1>
                <div class="card">
                    <table mat-table ![dataSource]="puestos" class="mat-elevation-z8">
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.descripcion_puesto }} </td>
                        </ng-container>
                        <ng-container matColumnDef="tarifa">
                            <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.tarifa_puesto }} </td>
                        </ng-container>
                        <ng-container matColumnDef="ays">
                            <th mat-header-cell *matHeaderCellDef> AYS </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.ays }} </td>
                        </ng-container>
                        <ng-container matColumnDef="iva">
                            <th mat-header-cell *matHeaderCellDef> IVA </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.iva }} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.total }} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['descripcion', 'tarifa', 'ays', 'iva', 'total']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['descripcion', 'tarifa', 'ays', 'iva', 'total'];"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container cont-table">
    <div class="title">
        <div class="row">
            <div class="col">
                <h1 class="col text-center">Listado de Puestos de Vigilancia</h1>
                <div class="card">
                    <table mat-table [dataSource]="puestos" class="mat-elevation-z8">
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.descripcion_puesto }} </td>
                        </ng-container>
                        <ng-container matColumnDef="tarifa">
                            <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.tarifa_puesto }} </td>
                        </ng-container>
                        <ng-container matColumnDef="ays">
                            <th mat-header-cell *matHeaderCellDef> AYS </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.ays }} </td>
                        </ng-container>
                        <ng-container matColumnDef="iva">
                            <th mat-header-cell *matHeaderCellDef> IVA </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.iva }} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let puesto"> {{ puesto.total }} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let puesto">
                                <button mat-icon-button color="primary" (click)="verPuesto(puesto)">
                                    <mat-icon>ver</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="editarPuesto(puesto)">
                                    <mat-icon>editar</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="eliminarPuesto(puesto)">
                                    <mat-icon>eliminar</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['descripcion', 'tarifa', 'ays', 'iva', 'total', 'acciones']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['descripcion', 'tarifa', 'ays', 'iva', 'total', 'acciones'];"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->