<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
                <h1 class="col text-center">Listado de Puestos de Vigilancia</h1>
            </div>
            <div class="card-body">
                                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Tarifa</th>
                                <th>AYS</th>
                                <th>IVA</th>
                                <th>Total</th>
                                <th>Acciones</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let puesto of puestos">
                                <td>{{ puesto.descripcion_puesto }}</td>
                                <td>{{ puesto.tarifa_puesto }}</td>
                                <td>{{ puesto.ays }}</td>
                                <td>{{ puesto.iva }}</td>
                                <td>{{ puesto.total }}</td>
                                <button  (click)="abrirModalEditar(puesto)" class="btn " title="Editar">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarPuesto(puesto.idpuesto_vigilancia)" class="btn " title="Eliminar">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </tr>
                        </tbody>
                    </table>
                </div>
</div>
</div>


<div class="modal" [class.show]="mostrarModalEditar" tabindex="-1">
    <div class="modal-dialog modal-xl" style="width: 70%;"> <!-- Aquí puedes usar modal-lg o modal-xl -->
        <div class="modal-content">
            <!-- Contenido del modal -->
            <app-editar-vhumana 
    [puestoSeleccionado]="puestoSeleccionado"
    [mostrarModal]="mostrarModalEditar"
    (closeModal)="handleCloseModal()"> <!-- Aquí se vincula correctamente al evento closeModal -->
</app-editar-vhumana>

        </div>
    </div>
</div>