<div class="container d-flex justify-content-center mt-5 mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-sena-azul">
            <h4 class="card-title">Listado de Sedes</h4>
          </div>

          <div class="card-body">
            <div class="form-group" style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
              <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
                (input)="filtrarSedes()" [(ngModel)]="terminoBusqueda">
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre de la sede</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!noResultados; else noResultadosTemplate">
                    <tr *ngFor="let sede of sedeFiltrada | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index">
                      <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                      <td>{{ sede.sede_formacion }}</td>
                      <td>{{ sede.dir_sede_formacion }}</td>
                      <td>{{ sede.email_sedef }}</td>
                      <td>
                        <button (click)="editarSede(sede)" title="Editar Sede" id="boton" class="mr-2" >
                          <i class="fas fa-edit"></i>
                        </button>
                        <button (click)="verSede(sede)" title="Ver detalles"id="boton" class="mr-2" >
                          <i class="fas fa-eye"></i>
                        </button>
                        <button (click)="eliminarSede(sede.idsede_formacion)" title="Eliminar Sede"id="boton" class="mr-2" >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #noResultadosTemplate>
                    <tr>
                      <td colspan="5" class="text-center">No se encontraron resultados.</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
