<div class="modal-header">
  <h5 class="modal-title">Crear Obligación de Contrato</h5>
</div>
<div class="modal-body">
  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
      <div class="form-group">
          <label for="contrato">Contrato</label>
          <input
              list="contratos"
              id="contrato"
              class="form-control"
              [(ngModel)]="nombreContratoSeleccionado"
              name="nombreContratoSeleccionado"
              (input)="onEmpresaChange($event)"
              required>
          <datalist id="contratos">
              <option *ngFor="let contrato of contratos" [value]="contrato.nombre_empresa">{{ contrato.nombre_empresa }}</option>
          </datalist>
      </div>
      <div class="form-group">
          <label for="obligacionContratista">Obligación Contratista</label>
          <input
              list="obligacionesContratista"
              id="obligacionContratista"
              class="form-control"
              [(ngModel)]="nombreObligacionSeleccionada"
              name="nombreObligacionSeleccionada"
              (input)="onObliCoChange($event)"
              required>
          <datalist id="obligacionesContratista">
              <option *ngFor="let obligacion of obligacionesContratista" [value]="obligacion.obligacion_contratista">{{ obligacion.obligacion_contratista }}</option>
          </datalist>
      </div>
      <div class="form-group">
          <label for="obligacionesContractuales">Obligación Contractual</label>
          <input
              list="obligacionesContractuales"
              id="obligacionesContractuales"
              class="form-control"
              [(ngModel)]="nombreObligacionContractual"
              name="nombreObligacionContractual"
              (input)="onObliContrac($event)"
              required>
          <datalist id="obligacionesContractuales">
              <option *ngFor="let obligacionContractual of obligacionesContractuales" [value]="obligacionContractual.obligaciones_contractuales">{{ obligacionContractual.obligaciones_contractuales }}</option>
          </datalist>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Guardar</button>
          <button type="button" class="btn btn-muted" (click)="close()">Cancelar</button>
      </div>
  </form>
</div>