<div class="container d-flex justify-content-center mt-5 mb-5">
  <div class="card">
    <div class="card-header card-header-sena-azul"> <!-- Contenedor del título -->
      <h4 class="card-title">Listado de Contratos</h4>
    </div>
    <div class="card-body">
      <table class="table table-bordered text-center">
        <thead>
          <div class="form-group" style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
            <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
              (input)="filtrarContratos()" [(ngModel)]="terminoBusqueda">
          </div>
          <tr>
            <th>ID</th>
            <th>Nombre Empresa</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="contratosFiltrados.length > 0; else noResultados">
            <tr *ngFor="let contrato of contratosFiltrados | paginate: { itemsPerPage: pageSize, currentPage: currentPage };">
              <td>{{ contratoIndex(contrato) }}</td>
              <td>{{ contrato.nombre_empresa }}</td>
              <td>{{ contrato.fecha_inicio | date: 'yyyy-MM-dd' }}</td>
              <td>{{ contrato.fecha_fin | date: 'yyyy-MM-dd' }}</td>
              <td>
                <button (click)="abrirModalEditar(contrato)" title="Editar contrato">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="eliminarContrato(contrato.idContrato_empresa)" title="Boton de eliminar">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <ng-template #noResultados>
          <tr>
            <td colspan="5" class="text-center">No se encontraron resultados.</td>
          </tr>
        </ng-template>
      </table>
      <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

       <button class="btn btn-danger" (click)="abrirModalCrear()" title="Crear perfil">
      <i class="bi bi-plus"></i> Agregar contrato
    </button>
    </div>
   
  </div>

  
</div>

<!-- Paginación -->







<!-- Modal -->
<div class="modal" [class.show]="mostrarModalEditar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Contenido del modal -->
      <app-editar-contrato [contratoSeleccionado]="contratoSeleccionado" (closeModal)="handleCloseModal()"
        (actualizarContratos)="actualizarContratos()"></app-editar-contrato>
    </div>
  </div>
</div>

<div class="modal" [class.show]="mostrarModalCrear">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Contenido del modal -->
      <app-crear-contrato (contratoCreado)="actualizarContratos()"
        (closeModal)="handleCloseModal()"></app-crear-contrato>
    </div>
  </div>
</div>