<!-- crear-solicitud-puestos.component.html -->
<div *ngIf="mostrarModalSolicitarPuestos" class="container mt-4">
    <div class="container d-flex justify-content-center mt-5 mb-2">
      <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
          <h2>Crear Solicitud de Puestos</h2>
        </div>
        <div class="card-body">
          <form #solicitudForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="tipoPuesto">Tipo de Puesto</label>
              <select id="tipoPuesto" name="tipoPuesto" class="form-control" ngModel required (change)="onTipoPuestoChange($event.target.value)">
                <option value="electronica">Electrónica</option>
                <option value="humana">Humana</option>
              </select>
            </div>
            <div class="form-group" *ngIf="tipoPuestoSeleccionado === 'humana'">
              <label for="puesto">Puesto</label>
              <input list="puestosVList" id="puesto" name="puesto" class="form-control" #puestoInput>
              <datalist id="puestosVList">
                <option *ngFor="let puesto of puestoVxCentro" [value]="puesto.descripcionVHumana"></option>
              </datalist>
            </div>
            <div class="form-group" *ngIf="tipoPuestoSeleccionado === 'electronica'">
              <label for="puesto">Puesto</label>
              <input list="puestosVEList" id="puesto" name="puesto" class="form-control" #puestoInput>
              <datalist id="puestosVEList">
                <option *ngFor="let puesto of puestoExCentro" [value]="puesto.descripcion"></option>
              </datalist>
            </div>
            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <input type="number" id="cantidad" name="cantidad" class="form-control" #cantidadInput>
            </div>
            <button type="button" class="btn btn-primary mb-3" (click)="agregarPuesto(puestoInput.value, cantidadInput.value)">Agregar Puesto</button>
            
            <div *ngFor="let puesto of puestosSolicitados; let i = index">
              <div class="d-flex align-items-center mb-2">
                <span class="flex-grow-1">{{ puesto.puesto }} - Cantidad: {{ puesto.cantidad }}</span>
                <button type="button" class="btn btn-danger" (click)="eliminarPuesto(i)">Eliminar</button>
              </div>
            </div>
  
            <div class="form-group">
              <label for="sede">Sede</label>
              <input list="sedesList" id="sede" name="sede" class="form-control" ngModel required>
              <datalist id="sedesList">
                <option *ngFor="let sede of sedes" [value]="sede.sede_formacion"></option>
              </datalist>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción de la Solicitud</label>
              <textarea id="descripcion" name="descripcion" class="form-control" ngModel required minlength="10" rows="5"></textarea>
            </div>
            <button type="button" class="btn btn-muted mt-2" (click)="closeModal.emit()">Cerrar</button>
            <button type="submit" class="btn btn-danger" [disabled]="solicitudForm.invalid">Crear Solicitud</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  