<div class="container" style="width: 100%; height: auto;">
  <!-- Cabecera con logo y detalles -->
  <div class="section">
    <table>
      <!-- Logo y detalles -->
      <tr>
        <td class="header-left">
          <img src="../../../../assets/img/logoValidacion.PNG" alt="Logo" width="80" height="80">
        </td>
        <td class="header-right">
          <p><strong>Versión:</strong> 03</p>
          <p><strong>Código:</strong> GIL-F-069</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="header-center">
          <p>Proceso Gestión de Infraestructura y Logística</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="header-center">
          <p>Formato Certificación de Servicios de Vigilancia Humana y Electrónica</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Sección principal del informe -->
  <div *ngIf="detalles.length > 0">
  <h4 class="section" style="text-align: center; margin-top: 20px;">
    LA/EL SUSCRIT@ {{ detalles[0].ordenador_gasto_centro || 'N/A' }},
    DIRECTOR/A (E) {{ detalles[0].regional || 'N/A' }}
  </h4>
  </div>
  <h2 class="section">CERTIFICA</h2>
  <p class="section">
    Que el contratista {{ detalles[0].nombre_empresa || 'N/A' }}, prestó el servicio de vigilancia durante el periodo comprendido entre
    {{ detalles[0].fecha_inicio | date }} y {{ detalles[0].fecha_fin | date }} en la sede de {{ obtenerNombreSede() }}, con los siguientes puestos de vigilancia así:
  </p>

  <!-- Certificación Vigilancia Humana -->
  <h3 class="section">CERTIFICACIÓN VIGILANCIA HUMANA</h3>
  <table class="table table-bordered section">
    <thead class="thead-light">
      <tr>
        <th>DESCRIPCIÓN DEL PUESTO DE VIGILANCIA</th>
        <th>N° DE SERVICIO</th>
        <th>CIUDAD Y DIRECCIÓN DE CADA SEDE</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iteración sobre los puestos de vigilancia humana -->
      <tr *ngFor="let puesto of puestosVh">
        <td>{{ puesto.descripcionVHumana }}</td>
        <td>{{ puesto.cantidad_puestov }}</td>
        <td>{{ puesto.direccionSedeVHumana }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Observaciones al servicio de vigilancia humana -->
  <div class="section">
    <label>OBSERVACIONES AL SERVICIO:
      <input type="text" class="form-control" [(ngModel)]="detalles[0].observaciones1">
    </label>
  </div>

  <!-- Certificación Vigilancia Electrónica -->
  <h3 class="section">CERTIFICACIÓN VIGILANCIA ELECTRÓNICA</h3>
  <table class="table table-bordered section">
    <thead class="thead-light">
      <tr>
        <th>CLASE DE EQUIPO</th>
        <th>CANTIDAD</th>
        <th>CIUDAD Y DIRECCIÓN DE LA SEDE</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iteración sobre los puestos de vigilancia electrónica -->
      <tr *ngFor="let puesto of puestosVE">
        <td>{{ puesto.descripcion }}</td>
        <td>{{ puesto.cantidad }}</td>
        <td>{{ puesto.direccionSedeVElectronica }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Observaciones al servicio de vigilancia electrónica -->
  <div class="section">
    <label>OBSERVACIONES AL SERVICIO:
      <input type="text" class="form-control" [(ngModel)]="detalles[0].observaciones2">
    </label>
  </div>

  <!-- Obligaciones generales del contratista -->
  <div class="section">
    <table class="table table-bordered section">
      <thead class="thead-light">
        <tr>
          <th style="max-width: 200px; word-wrap: break-word;">OBLIGACIONES GENERALES DEL CONTRATISTA</th>
          <th>Cumple</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iteración sobre las obligaciones del contratista -->
        <tr *ngFor="let obligacion of obligacionesContratista; let i = index">
          <td>{{ i + 1 }}. {{ obligacion.obligacion_contratista }}</td>
          <td>
            {{obligacion.cumple}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Obligaciones generales contractuales -->
  <div class="section">
    <table class="table table-bordered section">
      <thead class="thead-light">
        <tr>
          <th style="max-width: 200px; word-wrap: break-word;">OBLIGACIONES GENERALES CONTRACTUALES</th>
          <th>Cumple</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iteración sobre las obligaciones contractuales -->
        <tr *ngFor="let obligacion of obligacionesContractuales; let i = index">
          <td>{{ i + 1 }}. {{ obligacion.obligaciones_contractuales }}</td>
          <td>
            {{obligacion.cumple}}

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Anexos y firma -->
  <p class="section"><strong>ANEXOS:</strong> Actas de reunión, memorandos enviados y recibidos, comunicaciones vía correo electrónico.</p>
  <p class="section">Se expide en {{ obtenerNombreSede() }}, a la fecha de {{ detalles[0].fechaCreacion }}</p>
  <p class="section">DIRECTOR/A (E) {{ detalles[0].regional || 'N/A' }}</p>

  <div class="signature-container" style="text-align: center; margin-top: 20px;">
    <div class="signature-block" style="display: flex; align-items: center; justify-content: center;">
      <div class="logo-container" style="margin-right: 20px;">
        <img [src]="firmaUsuarioUrl" alt="Firma del usuario" class="firma-preview" width="80" height="80" style="margin-top: 10px;">
      </div>
      <div class="signature-details">
        <p class="section">Firmado digitalmente por {{ detalles[0].ordenador_gasto_centro || 'N/A' }}</p>
        <p class="section">Versión de sigoset 2024</p>
        <p class="signature section">{{ detalles[0].ordenador_gasto_centro || 'N/A' }}</p>
      </div>
    </div>
    
  </div>
  <div style="text-align: center;">
    <button class="btn btn-danger" (click)="exportToPDF()">Exportar a PDF</button>
    <button class="btn btn-muted" routerLink="/ListaInformes">Volver</button>
  </div>
</div>

<!-- Overlay de carga -->
<div class="overlay" *ngIf="isGeneratingPDF">
  <div class="loading-text">Generando PDF...</div>
</div>
