<div class="container d-flex justify-content-center mt-3 mb-3" style="width: 90rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-sena-azul">
                        <h4 class="card-title ">Listado De Centros De Formacion</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group"
                            style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
                            <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
                                (input)="filtrarCentros()" [(ngModel)]="terminoBusqueda">
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-dark">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                    <th>Correo Electronico</th>
                                    <th>Accion</th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of centrosFiltrados | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index">
                                        <td>{{(currentPage - 1) * pageSize + i + 1}}</td>
                                        <td>{{item.centro_formacion}}</td>
                                        <td>{{item.telefono_centrof}}</td>
                                        <td>{{item.email_centrof}}</td>
                                        <td>
                                            <div class="comtainer">
                                                <i *ngIf="isLoggedIn && isSuperAdministrador"
                                                    [routerLink]="['/editarCentroFormacion/', item.idcentro_formacion]">
                                                    <span class="fa-solid  fa-edit"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn && isSuperAdministrador"
                                                    [routerLink]="['/detalleCentroFormacion/', item.idcentro_formacion]">
                                                    <span class="fa-solid fa-eye"></span>
                                                </i>
                                                <!-- <i tooltip="Eliminar centro de formacion  " placement="bottom"
                                                    showDelay="200" class="butonW "
                                                    (click)="eliminarCentroFormacion(item.idcentro_formacion)">
                                                    <span class="fa-solid fa-trash text-danger"></span>
                                                </i> -->
                                                <i *ngIf="isLoggedIn && isSuperAdministrador || isOrdenadorG"
                                                    title="listar Puestos por centro"
                                                    (click)="abrirModalVerPuestos(item)">
                                                    <span class="fas fa-shield"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn && isSuperAdministrador"
                                                    title="Asignar Puestos de vigilancia"
                                                    [routerLink]="['/asignarpuestosPorCentro', item.idcentro_formacion]">
                                                    <span class="fas fa-user-secret"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn && isSuperAdministrador || isOrdenadorG "
                                                    title="listar sedes por centro" (click)="abrirModalVerSedes(item)">
                                                    <span class="fas fa-building"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn &&  isOrdenadorG " title="Generar Reporte"
                                                    [routerLink]="['/validarVigilancia', item.idcentro_formacion]">
                                                    <span class="fas fa-file-pdf"></span>
                                                </i>
                                                <i *ngIf="(isLoggedIn && isSuperAdministrador) "
                                                    title="Asignar Ordenador de Gasto"
                                                    (click)="abrirAsignarOrdenadorGasto(item)">
                                                    <span class="fas fa-user"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn && isSuperAdministrador" 
                                                       title="Asignar sede por centro" (click)="abrirModalAsignarSede(item)">
                                                       <span class="fas fa-university"></span>
                                                    </i>
                                                    <i *ngIf="isLoggedIn  && isOrdenadorG" 
                                                    title="Solicitar Puestos  de vigilancia" (click)="abrirModalSolicitarPuestos(item)">
                                                    <span  class="fas fa-clipboard-list"></span>
                                                </i>
                                                <i *ngIf="isLoggedIn && isSuperAdministrador"
                                                title="Administrar Solicitudes de Puestos" (click)="abrirModalAdminPuestos(item)">
                                                <span class=" fas fa-tasks"></span>
                                            </i>
                                                </div> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior"
                            nextLabel="Siguiente"></pagination-controls>

                        </div>
                        <ng-template #noCentros>
                            <p class="text-center">No hay centros para listar</p>
                        </ng-template>
                        <div class="text-center mt-4" *ngIf="listaCentrosFormacion.length > 0">
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Modal Puestos -->
<div class="modal" [class.show]="mostrarModalPuestos" tabindex="-1">
    <div class="modal-dialog modal-xl" style="width: 70%;">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <app-list-puestos-xc-centro 
                [centroSeleccionado]="centroSeleccionado"
                [mostrarModal]="mostrarModalPuestos"
                (closeModal)="handleCloseModal()">
            </app-list-puestos-xc-centro>
        </div>
    </div>
</div>

<!-- Modal Sedes -->
<div class="modal" [class.show]="mostrarModalSedes" tabindex="-1">
    <div class="modal-dialog modal-xl" style="width: 70%;">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <app-list-sedes-xcentro 
                [centroSeleccionado]="centroSeleccionado"
                [mostrarModal]="mostrarModalSedes"
                (closeModal)="handleCloseModal()">
            </app-list-sedes-xcentro>
        </div>
    </div>
</div>

<div class="modal" [class.show]="mostrarModalAsignarSedes" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <app-asignar-sede-porcentro 
                [centroSeleccionado]="centroSeleccionado"
                [mostrarModalAsignarSedes]="mostrarModalAsignarSedes"
                (closeModal)="handleCloseModal()"
                (actualizarLista)="actualizarLista()">
            </app-asignar-sede-porcentro>
        </div>
    </div>
</div>

<div class="modal" [class.show]="mostrarModalSolicitarPuestos" tabindex="-1">
    <div class="modal-dialog modal-xl" style="width: 80%;">
        <div class="modal-content">
            <app-crear-solicitud-puestos 
            [centroSeleccionado]="centroSeleccionado"
            [mostrarModalSolicitarPuestos]="mostrarModalSolicitarPuestos"
            (closeModal)="handleCloseModal()"
            (actualizarLista)="actualizarLista()">
        </app-crear-solicitud-puestos>
</div>
    </div>
</div>

<div class="modal" [class.show]="mostrarModalAdminSolicitarPuestos" tabindex="1">
    <div class="modal-dialog modal-xl" style="width: 80%;">
        <div class="modal-content">
            <app-administrar-solicitud-xcentro
            [centroSeleccionado]="centroSeleccionado"
            [mostrarModalAdminSolicitarPuestos]= "mostrarModalAdminSolicitarPuestos"
            (closeModal)="handleCloseModal()"
            (actualizarLista)="actualizarLista()">
        </app-administrar-solicitud-xcentro>
        </div>
    </div>
</div>