<div class="modal-header d-flex justify-content-center align-items-center">
    <h5 class="modal-title">Editar Empresa: {{ empresaSeleccionada?.nombre_empresa }}</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="nombreEmpresa">Nombre Empresa:</label>
                <input type="text" class="form-control" id="nombreEmpresa" ![(ngModel)]="empresaSeleccionada.nombre_empresa">
            </div>
            
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="emailEmpresa">Email Empresa:</label>
                <input type="email" class="form-control" id="emailEmpresa" ![(ngModel)]="empresaSeleccionada.email_empresa">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="emailPersona">Email Persona de Contacto:</label>
                <input type="email" class="form-control" id="emailPersona" ![(ngModel)]="empresaSeleccionada.email_personac">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="emailRepresentante">Email Representante Legal:</label>
                <input type="email" class="form-control" id="emailRepresentante" ![(ngModel)]="empresaSeleccionada.email_representantel">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="nit">NIT:</label>
                <input type="text" class="form-control" id="nit" ![(ngModel)]="empresaSeleccionada.nit_empresa" disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" ![(ngModel)]="empresaSeleccionada.direccion_empresa">
            </div>
        </div>
    </div>
    <!-- Repite el mismo patrón para los otros campos de entrada -->
</div>
<div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary" (click)="actuEmpresa()">Actualizar</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
</div>
