btn{
  background-color: rgb(4, 4, 253) !important;
}

/* Estilos para el contenedor principal */
.container {
  margin-top: 30px;
  width: 60%;
}
.profile-settings{
  text-align: center;
  justify-content: center;
}
/* Estilos para el título */
.titulo-container {
  width: calc(100% - 60px); /* Ancho del título */
  margin-left: 30px; /* Ajuste para centrar */
  position: relative;
  top: 0; /* Reducir la separación entre el título y el formulario */
  background-color: rgb(17, 17, 71);
  color: white;
  text-align: center;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Estilos para el contenedor del formulario */
.form-container {
  background-color: #ffffff; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-top: -20px; /* Reducir la separación entre el título y el formulario */
  margin-left: 15px; /* Ajuste de margen izquierdo */
  margin-right: 15px; /* Ajuste de margen derecho */
}

.form-container li  {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  margin: 5px;
  
}
.form-container li:hover {
  cursor: pointer;
  background-color: rgb(214, 214, 218);
  color: black !important;
}

.button-list {
  list-style-type: none;
  padding: 0;
}

.button-list li {
  margin-bottom: 10px; /* Espacio entre botones */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(0, 35, 64, 1); /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center;
  text-decoration: none; /* Sin subrayado */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Animación de transición */
}

.button:hover {
  background-color: #ffffff;
  color: rgba(0, 35, 64, 1); /* Color de fondo al pasar el ratón */
  border: 2px solid rgba(0, 35, 64, 1);
}
