@import '~bootstrap-icons/font/bootstrap-icons.css';
.modal {
    display: none; /* Por defecto oculto */
  }
  
  .modal.show {
    display: block; /* Mostrar cuando la clase .show está presente */
  }


.button{
  background-color: transparent; /* Fondo transparente */
  border-color: transparent; /* Borde transparente */
  padding: 0;
}

.table-bordered th,
    .table-bordered td {
        border: none; /* Eliminar el borde de las celdas */
        background-color: rgb(255, 255, 255);
      }

      .table thead th {
        height: 60px; /* Altura deseada para las celdas del encabezado */
        font-weight: bold; /* Texto en negrita */
    }
    
  