<div class="container d-flex justify-content-center mt-5 mb-2">

    <div class="card">
        <div class="card-header card-header-sena-azul">
            <h3 class="card-title">
                Administrar Obligaciones Contractuales
            </h3>
        </div>
        <div class="card-body">
            <div class="form-group" style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
                <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
                    (input)="filtrarObligacion()" [(ngModel)]="terminoBusqueda">
            </div>
            <div class="table">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Obligación Contractual</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!noResultados;else noResults">
                            <tr
                                *ngFor="let obligacion of filtrarObligacion().slice((currentPage-1)*pageSize, currentPage*pageSize); let i = index">
                                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                                <td>{{ obligacion.obligaciones_contractuales }}</td>
                                <td>
                                    <button (click)="editarObligacion(obligacion)" title="Editar Obligación" id="buttones"
                                        class="mr-1">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button (click)="verObligacion(obligacion)" title="Ver obligación" class="mr-1" id="buttones">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                    <button title="Eliminar Obligación"
                                        (click)="eliminarObligacion(obligacion.idobligaciones_contractuales)"
                                        class="mr-1" id="buttones">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noResults>
                            <tr>
                                <td colspan="7" class="text-center">No se encontraron resultados.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
                            <button class="page-link" (click)="setPage(page)">{{ page }}</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>