
    <div style="text-align: center;">
        <h1>Proceso Gestión de Infraestructura y Logística</h1>
        <h2>Formato Certificación de Servicios de Vigilancia Humana y Electrónica</h2>

        <table style="margin: 0 auto;">
            <tr>
                <td>Versión:</td>
                <td>03</td>
                <td>Código:</td>
                <td>GIL-F069</td>
            </tr>
        </table>

        <p>LA SUSCRITA MARTHA AYALA JARA, DIRECTORA (E) REGIONAL DEL SENA REGIONAL TOLIMA-101073</p>
        <h3>CERTIFICA</h3>

        <p>Que el contratista UNION TEMPORAL SSAVD 3 2023, prestó el servicio de vigilancia durante el periodo comprendido entre el 31/12/2023 y el 31/01/2024 en la sede de IBAGUE, con los siguientes puestos de vigilancia:</p>

        <h3>CERTIFICACION VIGILANCIA HUMANA</h3>

        <table border="1" style="margin: 0 auto;">
            <tr>
                <th>DESCRIPCION DEL PUESTO DE VIGILANCIA</th>
                <th>N° DE SERVICIO</th>
                <th>CIUDAD Y DIRECCION DE CADA SEDE</th>
            </tr>
            <tr>
                <td>PUESTO 24 HORAS TODOS LOS DÍAS SIN ARMA SUPERVISOR</td>
                <td>1</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-45</td>
            </tr>
            <tr>
                <td>PUESTO 24 HORAS TODOS LOS DÍAS SIN ARMA</td>
                <td>2</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-45</td>
            </tr>
            <tr>
                <td>PUESTO 24 HORAS MONITOREO</td>
                <td>1</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-46</td>
            </tr>
            <tr>
                <td>PUESTO 16 HORAS DIURNAS LUNES A SÁBADO NO INCLUYE FESTIVOS SIN ARMA</td>
                <td>2</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-47</td>
            </tr>
            <tr>
                <td>PUESTO 12 HORAS DIURNAS LUNES A VIERNES NO INCLUYE FESTIVOS SIN ARMA</td>
                <td>2</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-48</td>
            </tr>
            <tr>
                <td>PUESTO 8 HORAS DIURNAS LUNES A SÁBADO NO INCLUYE FESTIVOS SIN ARMA</td>
                <td>1</td>
                <td>IBAGUE - TRANVERSAL 1 N° 42-49</td>
            </tr>
        </table>

        <p>OBSERVACIONES AL SERVICIO: NINGUNA.</p>

        <h3>CERTIFICACION VIGILANCIA ELECTRONICA</h3>

        <table border="1" style="margin: 0 auto;">
            <tr>
                <th>CLASE DE EQUIPO</th>
                <th>CANTIDAD</th>
                <th>CIUDAD Y DIRECCION DE LA SEDE</th>
            </tr>
            <tr>
                <td>CONTROL DE VISITANTES Y BIENES</td>
                <td>2</td>
                <td>IBAGUE-Trasversal 1 No. 42 – 44</td>
            </tr>
            <tr>
                <td>ALARMAS</td>
                <td>3</td>
                <td>IBAGUE-Trasversal 1 No. 42 – </td>
            </tr>
        </table>

        <p>OBSERVACIONES AL SERVICIO: NINGUNA</p>

        <h3>OBLIGACIONES GENERALES DEL CONTRATISTA CUMPLE</h3>

        <ol>
            <li>Uniforme completo, placa y carné de identificación de acuerdo a lo exigido por la SuperVigilancia. SI</li>
            <li>Linterna de mano LED de luz tipo chorro, recargable, asignadas a cada uno de los puestos, debidamente equipados con baterías adicionales o con cargador que garantice su efectiva y permanente utilización. SI</li>
            <li>En el caso de puestos de vigilancia con arma, chapuza, correa y arma de fuego con el respectivo permiso de porte y tenencia expedido por el Ministerio de Defensa. SI</li>
            <li>Equipo celular con un plan de comunicaciones ilimitado (voz y datos) de línea abierta a todo destino para uso de los apoyos a los supervisores regionales del SENA. SI</li>
            <li>Cada puesto de vigilancia deberá disponer de: libro de minuta y/o control digital de las novedades, carpeta de consignas y conductas (protocolos) de reacción en caso de hurto, asalto, inundación, asonadas, marchas, incendio, movimiento telúrico, entre otros; y libros foliados de control de entrada y salidas de bienes y personas. SI</li>
            <li>Entregar los elementos de protección personal a sus empleados para el manejo del COVID-19, de conformidad con lo dispuesto en la Resolución Nº 666 de 2020. SI</li>
            <li>Cumplir y acatar la normatividad externa e interna del SENA, en especial la Resolución 1440 de 2013 “Por la cual se dictan medidas generales para el ingreso, permanencia y salida de las instalaciones en la Dirección General, Direcciones Regionales y Centros de Formación Profesional del SENA”, aquellas que la modifiquen o sustituyen. SI</li>
            <li>Responder por los perjuicios que por motivo de su negligencia, uso indebido, uso no autorizado o descuido se causen a los bienes y al personal del SENA o a terceros, por acción u omisión. SI</li>
            <li>Adelantar las investigaciones pertinentes en caso de pérdida o daño de bienes, durante la ejecución del contrato, dentro de los diez (10) días calendario siguientes a la fecha en que el supervisor o quien este autorice lo ponga en conocimiento del Contratista SI</li>
            <li>Cancelar cumplidamente los salarios, prestaciones sociales e indemnizaciones de ley, al personal que ocupe dentro de la ejecución del contrato, so pena de ser reportado a la Superintendencia de Vigilancia y Seguridad Privada. SI</li>
            <li>Reemplazar en forma inmediata (máximo 2 horas) el personal que sufra imprevistos que le impidan cumplir con la correcta ejecución del contrato. El personal de reemplazo debe tener el mismo perfil o superior del que reemplaza y debe contar con los mismos equipos, uniformes y demás elementos requeridos para la prestación del servicio. SI</li>
            <li>Suministrar los reemplazos para el caso de descansos, excusas de servicio y los que tuvieren que hacerse en la ejecución del servicio, una vez se tenga conocimiento de la ausencia con un tiempo de respuesta máximo de dos (2) horas, disponiendo del personal necesario para hacer los relevos. SI</li>
            <li>En cuanto a los reemplazos de los guardas por efecto de la toma de alimentos, el contratista debe garantizar que en todo momento se prestará el servicio de vigilancia con el número completo de guardas, esto en el entendido que la Entidad contrata y paga por la prestación del servicio de vigilancia por horas completas. SI</li>
            <li>Rotar periódicamente los turnos de vigilancia a criterio del coordinador de zona y al apoyo del supervisor regional del SENA, cuando las necesidades o circunstancias así lo ameriten, o a solicitud del SENA. SI</li>
            <li>Coordinar con la red de apoyo de la Policía Nacional, las acciones de prevención y reacción inmediata para atender cualquier contingencia. SI</li>
            <li>Suministrar durante la iniciación del contrato y mantener durante la vigencia del mismo para cada puesto, una carpeta que contenga: a) Consignas generales y específicas del puesto, b) Archivos de las órdenes de entrada y salida sobre los elementos pertenecientes a los sitios donde se preste el servicio, c) Las órdenes de ingreso de personas en horarios no laborales o de personal particular ajeno al sitio, d) Las consignas impartidas por el supervisor que se designe para tal fin, e) Libro de control de ingreso de visitantes lo mismo que de los vehículos particulares. SI</li>
            <li>Adecuar a las necesidades de la Entidad los protocolos de seguridad relacionados con el control de acceso de personal a la Entidad, control de acceso de visitantes, control de retiro o ingreso de bienes, protocolo para emergencias naturales, protocolo en caso de incendio (en caso de presentarse en horas laborales y en horas no laborales), control a la revisión de luces, filtraciones de aguas o/y llaves abiertas, estas recomendaciones o acciones de mejora deben ser presentadas dentro de los dos (2) primeros meses de ejecución del contrato. SI</li>
            <li>Entregar un informe mensual de todas las novedades, casos y situaciones que se presenten en cada una de las Regionales y/o sedes del SENA, a los Supervisores Regionales del SENA con copia al Supervisor Nacional del SENA. SI</li>
            <li>Suministrar juego de fichas o escarapelas para los visitantes que ingresen a cada una de las sedes, con los correspondientes ganchos, caimán o cordón, debidamente plastificado, numerado y de diferente color para cada sede. Se requiere cómo mínimo cien (100) fichas o escarapelas por sede. SI</li>
            <li>Supervisar por su cuenta y riesgo, los puestos de vigilancia, utilizando sus vehículos, equipos de comunicación dispuestos y lo requerido para tal fin. Estas visitas deben hacerse en las ciudades capitales dos (2) veces por día (horario a.m. y la otra en horario p.m.) y en los municipios en donde hay sedes del SENA la visita de seguimiento deberá ser como mínimo una (1) vez por semana. SI</li>
            <li>Vigilar los vehículos automotores de propiedad de la Entidad, o los que estén a su cargo, que se encuentren dentro de los parqueaderos de las sedes de la Entidad. SI</li>
            <li>Garantizar que los guardas de seguridad que presten el servicio en los puestos, posean las capacitaciones necesarias en las áreas de seguridad, primeros auxilios y atención al cliente, para lo cual deberá presentar la certificación correspondiente. SI</li>
            <li>Suministrar personal de apoyo para el manejo de situaciones adversas tales como robo, asalto, incendio, atentados terroristas y asonadas. SI</li>
            <li>Presentar informe a la entidad contratante (SENA) sobre la rotación del personal, debidamente soportado con los formatos y la información que requiera la entidad. SI</li>
            <li>Informar inmediatamente a las autoridades competentes y al supervisor del SENA, cualquier anomalía o irregularidad que se presente en la prestación del servicio. SI</li>
            <li>Realizar auditorías de calidad del servicio de vigilancia. SI</li>
            <li>Mantener contacto directo con los supervisores de seguridad de la entidad contratante (SENA). SI</li>
            <li>Informar por escrito, a la entidad contratante (SENA), sobre cualquier incidente ocurrido en el desarrollo del contrato, el cual ponga en riesgo la integridad de las personas y/o los bienes. SI</li>
            <li>Garantizar el cumplimiento de la normatividad en materia de seguridad y salud en el trabajo, relacionada con el personal asignado a la prestación del servicio. SI</li>
        </ol>

        <h3>CONSIDERACIONES ADICIONALES</h3>

        <p>Se expide en Ibagué, a los 16 días del mes de Febrero de 2024.</p>
        <p>MARTHA AYALA JARA</p>
        <p>Elaboró: Carlos Ferney Quijano P., cfquijanop@sena.edu.co, IP. 84334</p>
    </div>
