<div class="modal-header d-flex justify-content-center align-items-center">
    <h5 class="modal-title">Editar Municipio</h5>
</div>

<div class="modal-body">
    <form (ngSubmit)="editarMunicipio()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="iddepartamento">ID Departamento</label>
                    <input type="text" class="form-control" id="iddepartamento" name="iddepartamento" [(ngModel)]="municipioSeleccionado.iddepartamento" required>

                    <label for="municipio">Municipio</label>
                    <input type="text" id="municipio" name="municipio" [(ngModel)]="municipioSeleccionado.municipio" required>
                </div>
            </div>
        </div>


    </form>

    <div class="form-actions">

        <button type="button" class="btn btn-primary" (click)="editarMunicipio()">Actualizar </button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
    </div>
</div>