<div class="container d-flex justify-content-center mt-5 mb-5" style="width: 80rem;">
  <div class="card cont-table">
    <div class="card-header card-header-sena-azul">
      <h4 class="card-title">Crear Sede</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" class="formulario">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="municipioNombre">Municipio:</label>
              <input list="centros" [(ngModel)]="selectedMunicipio" (change)="onMunicipioSelected($event)" id="municipioNombre" name="municipioNombre" class="form-control" required placeholder="Seleccione un centro de formación">
              <datalist id="centros">
                <option *ngFor="let municipio of listMunicipios" [value]="municipio.municipio"></option>
              </datalist>
            </div>

            <div class="form-group">
              <label for="Nombre_sede">Sede de Formacion:</label>
              <input type="text" [(ngModel)]="sedesData.sedeformacion" class="form-control" required placeholder="Nombre de Sede">
            </div>
            <div class="form-group">
              <label for="telefono_usuario">Teléfono Sede:</label>
              <input type="number" [(ngModel)]="sedesData.telefono_sedef" class="form-control" required placeholder="Teléfono" (input)="verificarTelefono()">
              <div *ngIf="mostrarMensajeTelefono && !validarTelefono(sedesData.telefono_sedef)" style="color: red;">El teléfono debe tener solo 10 dígitos.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="direccion_sede">Direccion de Sede de Formacion :</label>
              <input type="text" [(ngModel)]="sedesData.dir_sede_formacion" class="form-control" required placeholder="Direccion de Sede">
            </div>
            <div class="form-group">
              <label for="email_sede">Email de Sede:</label>
              <input type="email" [(ngModel)]="sedesData.email_sedef" class="form-control" required placeholder="example@gmail.com" (input)="verificarEmail()">
              <div *ngIf="mostrarMensajeEmail && !validarEmail(sedesData.email_sedef)" style="color: red;">El email debe contener el símbolo '@'.</div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-danger" [disabled]="!validarSedes()">Registrar Usuario</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
