<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Editar Zona</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Zona: </mat-label>
          <input matInput [(ngModel)]="data.zona.Nombre_zona" name="Nombre_zona">
        </mat-form-field>
  
      </form>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="guardar()">Guardar</button>
    </mat-card-actions>
  </mat-card>
  