<div class="container d-flex justify-content-center mt-5 mb-5" style="width: 80rem;">
    <div class="card cont-table">
      <div class="card-header card-header-sena-azul">
        <h4 class="card-title">Crear Usuario</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="formulario">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="idperfil">Perfil:</label>
                <select [(ngModel)]="registroData.idperfil" class="form-control" required title="Perfil">
                  <option *ngFor="let perfil of perfiles" [value]="perfil.idperfil">{{ perfil.perfil }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="identificacion">Identificación:</label>
                <input type="text" [(ngModel)]="registroData.identificacion" class="form-control" required placeholder="Identificación" (input)="verificarId()">
                <div *ngIf="mostrarMensajeId && !validarId(registroData.identificacion)" style="color: red;">La identificación debe tener solo 10 dígitos.</div>
              </div>
              <div class="form-group">
                <label for="nombre_usuario">Nombre:</label>
                <input type="text" [(ngModel)]="registroData.nombre_usuario" class="form-control" required placeholder="Nombre de Usuario">
              </div>
              <div class="form-group">
                <label for="telefono_usuario">Teléfono:</label>
                <input type="number" [(ngModel)]="registroData.telefono_usuario" class="form-control" required placeholder="Teléfono" (input)="verificarTelefono()">
                <div *ngIf="mostrarMensajeTelefono && !validarTelefono(registroData.telefono_usuario)" style="color: red;">El teléfono debe tener solo 10 dígitos.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="idcentro_formacion">Centro de Formación:</label>
                <input list="centros" [(ngModel)]="selectedCentroFormacion" (change)="updateCentroFormacionId($event)" class="form-control" required placeholder="Seleccione un centro de formación">
                <datalist id="centros">
                  <option *ngFor="let centro of centrosF " [value]="centro.centro_formacion"></option>
                </datalist>
                <div class="text-link-container">
                  <a routerLink="/registrarCentroFormacion" class="text-link">Registrar Nuevo Centro</a>
                </div>
              </div>
              <div class="form-group">
                <label for="apellido_usuario">Apellido:</label>
                <input type="text" [(ngModel)]="registroData.apellido_usuario" class="form-control" required placeholder="Apellido de Usuario">
              </div>
              <div class="form-group">
                <label for="email_usuario">Email:</label>
                <input type="email" [(ngModel)]="registroData.email_usuario" class="form-control" required placeholder="example@gmail.com" (input)="verificarEmail()">
                <div *ngIf="mostrarMensajeEmail && !validarEmail(registroData.email_usuario)" style="color: red;">El email debe contener el símbolo '@'.</div>
              </div>
              <div class="form-group">
                <label for="estado">Estado:</label>
                <select [(ngModel)]="registroData.estado" class="form-control" required title="Estado">
                  <option value="Y">Activo</option>
                  <option value="N">Inactivo</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-danger" [disabled]="!validarFormulario()">Registrar Usuario</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  