<div class="logo">
    <a href="https://sena.edu.co" class="simple-text" href="">
        <div class="logo_img_content">
            <img src="/assets/img/Logo_Sigoset.png" alt="" class="logo_img">
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <!-- Item principal Usuario -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collapseUsuario" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>Usuarios</p>
            </a>
            <!-- Ítems secundarios desplegables -->
            <div class="collapse" id="collapseUsuario">
                <ul class="nav flex-column ml-3">
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/crearUsuario']">
                            <p>Crear Usuario </p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/listarUsuarios']">
                            <p>Administrar Usuarios</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Item principal Empresa -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collapseEmpresa" aria-expanded="false">
                <i class="material-icons">business</i>
                <p>Empresa</p>
            </a>
            <!-- Ítems secundarios desplegables -->
            <div class="collapse" id="collapseEmpresa">
                <ul class="nav flex-column ml-3">
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/crearEmpresa']">
                            <p>Crear Empresa</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/ListEmpresas']">
                            <p>Administrar Empresas</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Otros ítems del menú -->

        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

</div>
     