<div class="logo">
  <a  class="simple-text" routerLink="/dashboard">
    <div class="logo_img_content">
      <img src="/assets/img/Logo_Sigoset.png" alt="" class="logo_img">
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]"  >
          <i class="material-icons"   >{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
      </a>
    <!-- Itera sobre los módulos y sus rutas -->
    <ng-container *ngFor="let moduleRoute of moduleRoutes">
      <li class="nav-item">
        <!-- Item principal del módulo -->
        <a class="nav-link" (click)="toggleCollapse(moduleRoute.module)">
          <p>{{ moduleRoute.module }}</p>
        </a>
        <!-- Rutas relacionadas con el módulo -->
        <div [ngClass]="{ 'collapse': !isCollapsed(moduleRoute.module), 'show': isCollapsed(moduleRoute.module) }">
          <ul class="nav flex-column ml-3">
            <!-- Itera sobre las rutas del módulo -->
            <ng-container *ngFor="let route of moduleRoute.routes">
              <li routerLinkActive="active" class="nav-item" *ngIf="route.permiso === 'si'"  >
                <a class="nav-link" [routerLink]="[route.url_modulo]">
                  <i class="fa" [ngClass]="route.icono"></i>
                  <p>{{ route.url_modulo.slice(1) }}</p> <!-- Eliminar el primer carácter de la URL -->
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
