<div class="container">
    <h2>Listado de Puestos de Vigilancia</h2>

    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

    <ul>
        <li *ngFor="let puesto of puestos">
            <span>{{ puesto.descripcion_puesto }}</span>
            <button (click)="editarPuesto(puesto.idpuesto_vigilancia, puesto)">Editar</button>
            <button (click)="eliminarPuesto(puesto.idpuesto_vigilancia)">Eliminar</button>
        </li>
    </ul>

    <h3>Crear Nuevo Puesto de Vigilancia</h3>
    <form (submit)="crearPuesto(puestoData)">
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" [(ngModel)]="puestoData.descripcion_puesto" required />
        </div>
        <div class="form-group">
            <label for="tarifa">Tarifa:</label>
            <input type="number" id="tarifa" name="tarifa" [(ngModel)]="puestoData.tarifa_puesto" required />
        </div>
        <div class="form-group">
            <label for="ays">AYS:</label>
            <input type="number" id="ays" name="ays" [(ngModel)]="puestoData.ays" required />
        </div>
        <div class="form-group">
            <label for="iva">IVA:</label>
            <input type="number" id="iva" name="iva" [(ngModel)]="puestoData.iva" required />
        </div>
        <div class="form-group">
            <label for="total">Total:</label>
            <input type="number" id="total" name="total" [(ngModel)]="puestoData.total" required />
        </div>
        <button type="submit">Crear Puesto</button>
    </form>
</div>