<router-outlet></router-outlet>
<app-sidebar></app-sidebar>

<div class="main-content" class="mw-100">
  <div class="container-fluid">
    <div class="card card-stats" style="height: 90vh; display: flex;">
      <div class="content_images">
        <div class="images_dasboard">
                    <img src="./assets/img/Sena_Color_Segoset.png"class="img_1" alt="" width="30%">
                    <img src="./assets/img/Logo_Sigoset.png" class="img_2" alt="" width="70%">
                </div>
      </div>


  </div>
</div>
</div>