@import '~bootstrap-icons/font/bootstrap-icons.css';

.modal {
    display: none; /* Por defecto oculto */
  }
  
  .modal.show {
    display: block; /* Mostrar cuando la clase .show está presente */
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1050;
  }
  
  .btn {
    background-color: #165598; /* Color de fondo del botón primario */
  }
  button{
    background-color: transparent !important; /* Fondo transparente */
    border-color: transparent !important; /* Borde transparente */
    padding: 0;
  }