<div class="container d-flex justify-content-center mt-5 mb-2">
  <div class="card" style="width: 80rem;">
    <div class="card-header card-header-sena-azul">
      <h3>Listado de Vigilancias Electrónicas</h3>
    </div>
    <div class="card-body">
      <div class="form-group" style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
        <input type="text" class="form-control" style="border: none;" placeholder="Buscar..." (input)="filtrarVE()" [(ngModel)]="terminoBusqueda">
      </div>


<table class="table">
    <thead>
        <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Tarifa</th>
      <th>Ays</th>
      <!-- <th>IVA</th> -->
      <th>Total</th>
      <th>Accciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!noResultados; else noResultadosTemplate">
      <tr *ngFor="let vigilancia of vigilanciaVEF | paginate: { itemsPerPage: pageSize, currentPage: currentPage } ; let i = index">
    <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ vigilancia.descripcion }}</td>
      <td>{{ vigilancia.tarifa | number: '1.0-0' }}</td>
      <td>{{ vigilancia.ays | number: '1.0-0' }}</td>
      <!-- <td>{{ vigilancia.iva | number: '1.0-0' }}</td> -->
      <td>{{ vigilancia.total | number: '1.0-0' }}</td>
      <td>
        <button (click)="abrirModalEditar(vigilancia)" title="Editar vigilancia Electrónica">
            <i class="fa fa-edit"></i>
          </button>
          <button  (click)="eliminarVigilancia(vigilancia.idvigilancia_electronica)">
            <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    </ng-container>
    <ng-template #noResultadosTemplate>
      <tr>
          <td colspan="7" class="text-center">No hay resultados</td>
      </tr>
  </ng-template>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</div>

  </div>
</div>

<div class="modal" [class.show]="mostrarModalEditar">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-editar-ve [vigiElSeleccionada]="vigiElSeleccionada" (closeModal)="handleCloseModal()" (actualizarList)="actualizarList()"></app-editar-ve>
    </div>
  </div>
</div>
