.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos arriba */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s; /* Agrega una transición suave */
    margin-top: 80px;
    width: 100%;
    height: auto;
}

.card {
    width: calc(50% - 10px); /* Ajusta el ancho de las tarjetas y elimina el espacio entre ellas */
    margin-right: 10px; /* Agrega un margen entre las tarjetas */
    /* Otros estilos de las tarjetas */
}
datalist{
    background-color: red;
    color: wheat;
}

.form-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;

}

.third-form {
    position: absolute;
    top: 50%;
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%); /* Centra horizontalmente y verticalmente el formulario */
    z-index: 1000; /* Asegura que la tercera tarjeta esté encima de las otras dos */
}

.select-vertical label {
    font-weight: bold;
}

.select-vertical select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #f9f9f9;
}

.puesto-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.descripcion-puesto {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-right: 20px;
    width: 400px; /* Tamaño predeterminado */
    word-wrap: break-word; /* Permite la ruptura de palabras largas */
    overflow-wrap: break-word; /* Permite la ruptura de palabras largas */
}

.descripcion-puesto span {
    font-weight: bold;
    display: block; /* Asegura que el span tome todo el ancho disponible */
    white-space: normal; /* Permite el ajuste de texto en múltiples líneas */
}
.cantidad-rectangulo {
    display: flex;
    align-items: center;
    background-color: #868484;
    max-width: 100%; /* Ancho máximo igual al ancho máximo del formulario */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.cantidad-rectangulo button {
    margin-right: 3px; /* Añade un margen derecho entre los botones */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.form-toggle-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s; /* Transiciones suaves */
    animation: pulse 2s infinite; /* Animación continua */
}

/* Estilo para el botón cuando se hace hover */
.form-toggle-buttons button:hover {
    background-color: #0056b3; /* Cambia el color al hacer hover */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


.form-toggle-buttons-left {
    margin-top: 100px;
    order: 1; /* Cambia el orden a la izquierda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.form-toggle-buttons-right {
    order: 3; /* Cambia el orden a la derecha */
    margin-top: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);


}

.form-container-left {
    width: calc(80% - 20px); /* Ajusta el ancho del formulario y elimina el espacio entre los formularios */
    /* Otros estilos del formulario */
    order: 2; /* Cambia el orden a la izquierda */
}

.form-container-right {
    width: calc(80% - 20px); /* Ajusta el ancho del formulario y elimina el espacio entre los formularios */
    order: 2; /* Cambia el orden a la derecha */
}


.titulo-container  {
    width: calc(100% - 60px); 
    position: absolute;
    top: -20px;
    margin-left: 15px; /* Mismo margen que el margen izquierdo de la tabla */
    background-color: rgb(17, 17, 71) !important;
    color: white;
    text-align: center;
    z-index: 1; /* Asegura que el título esté sobre la tabla */
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6)
}
.volver-button {
    position: absolute;
    bottom: 10px; 
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-40%); /* Ajuste para centrar horizontalmente */
    background-color: #868484;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    line-height: 1;
}
/* Estilos personalizados para input[list] */
input[list] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[list]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  
  .select-vertical {
    position: relative;
  }
  
  .triangle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
  }
  
  .triangle.rotate {
    transform: translateY(-50%) rotate(180deg);
  }
  