<div class="container d-flex justify-content-center mt-5 mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-sena-azul"> <!-- Contenedor del título -->
            <h4 class="card-title">Listado de Usuarios</h4>
          </div>

          <div class="card-body">
            <div class="form-group" style="margin: 20px 10px; border: 2px solid #ccc; border-radius: 5px; padding: 0;">
              <input type="text" class="form-control" style="border: none;" placeholder="Buscar..."
                (input)="filtrarUsuarios()" [(ngModel)]="terminoBusqueda">
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-dark">

                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!noResultados; else noResults">
                    <ng-container
                      *ngFor="let usuario of usuariosFiltrados | paginate: { itemsPerPage: 10, currentPage: pageSize };let i = index">
                      <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ usuario.nombre_usuario }}</td>
                        <td>{{ usuario.apellido_usuario }}</td>
                        <td>{{ usuario.email_usuario }}</td>
                        <td>
                          <button (click)="abrirCambiarPerfil(usuario)" title="Cambiar perfil">
                            <span class="fa-solid fa-retweet"></span>
                          </button>
                          <button (click)="enviarCorreo(usuario.idUsuario)" title="Enviar correo"
                            *ngIf="usuario.firstLogin !== 0">
                            <span class="fa-regular fa-envelope"></span>
                          </button>
                          <button (click)="abrirModalVerUsuario(usuario)" title="Ver Detalles">
                            <span class="fa-solid fa-eye"></span>
                          </button>
                          <button (click)="cambiarEstado(usuario.idUsuario)" title="Cambiar estado">
                            <ng-container *ngIf="usuario.estado === 'Y'; else inactivo">
                              <!-- Icono para usuario activo -->
                              <span class="fa-solid fa-circle-check"></span>
                            </ng-container>
                            <ng-template #inactivo>
                              <!-- Icono para usuario inactivo -->
                              <span class="fa-solid fa-circle-xmark"></span>
                            </ng-template>
                          </button>
                          <button (click)="eliminarUsuario(usuario.idUsuario)" title="eliminar">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                  <ng-template #noResults>
                    <tr>
                      <td colspan="5" class="text-center">No se encontraron resultados.</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>


            <pagination-controls (pageChange)="pageSize = $event"previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

          </div>
        </div>
      </div>

      <div class="modal" [class.show]="showModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Contenido del modal -->
            <app-ver-user [usuarioSeleccionado]="usuarioSeleccionado" (closeModal)="handleCloseModal()"></app-ver-user>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>