<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
            <h4 class="card-title">Sedes de formación para el centro: {{ centroSeleccionado.centro_formacion }}</h4>
        </div>
        <div class="card-body">
            <div *ngIf="sedes.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <!-- Agrega más encabezados de columna según sea necesario -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sede of sedes">
                            <td>{{ sede.sede_formacion }}</td>
                            <td>{{ sede.dir_sede_formacion }}</td>
                            <td>{{ sede.telefono_sedef }}</td>
                            <td>{{ sede.email_sedef }}</td>
                            <!-- Agrega más celdas de datos según sea necesario -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="sedes.length === 0">
                <p>No hay sedes de formación para el centro seleccionado.</p>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-danger mt-3" (click)="close()">Cerrar</button>
</div>
