<div class="user-details">
    <div *ngIf="userData; else loading">
      <form (submit)="submitForm()" class="user-form">
        <div class="form-group">
          <label for="email_usuario">Correo electrónico:</label>
          <input type="email" id="email_usuario" name="email_usuario" [(ngModel)]="userData.user.email_usuario" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label for="nombre_usuario">Nombre:</label>
          <input type="text" id="nombre_usuario" name="nombre_usuario" [(ngModel)]="userData.user.nombre_usuario" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label for="apellido_usuario">Apellido:</label>
          <input type="text" id="apellido_usuario" name="apellido_usuario" [(ngModel)]="userData.user.apellido_usuario" class="form-control" required>
        </div>
  
      
  
        <div class="form-group">
          <label for="telefono_usuario">Teléfono de contacto:</label>
          <input type="text" id="telefono_usuario" name="telefono_usuario" [(ngModel)]="userData.user.telefono_usuario" class="form-control" required>
        </div>

        <div *ngIf="firmaUsuarioUrl">
          <label>Firma :</label><br>
          <img [src]="firmaUsuarioUrl" alt="Firma del usuario" class="firma-preview">
        </div>
        
        <div *ngIf="userData.user.perfil === 'Ordenador del gasto' && !firmaUsuarioUrl">
          <label for="firma_usuario"> Agregar Firma: </label>
          <input type="file" [(ngModel)]="userData.firma_usuario" (change)="onFileChange($event)" required title="Imagen de firma">
        </div>
  
        <button type="submit" class="btn btn-primary mx-auto">Guardar</button>
      </form>
    </div>
    <ng-template #loading>
      <p>Cargando detalles del usuario...</p>
    </ng-template>
  </div>
  