<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
            <h4 class="card-title" > Crear Vigilancia Humana </h4>
    </div>
    <div class="card-body">

<form (ngSubmit)="onSubmit()" #vigilanciaForm="ngForm" class="centered-form">
    <div class="form-group" style="text-align: center;">
        <label for="descripcion_puesto">Descripción:</label>
        <input type="text" id="descripcion_puesto" name="descripcion_puesto" [(ngModel)]="puestoData.descripcion_puesto" required  style="width: 80%;">
    </div>
    <div class="form-group" style="text-align: center;">
        <label for="tarifa_puesto">Tarifa:</label>
        <input type="text" id="tarifa_puesto" name="tarifa_puesto" [(ngModel)]="puestoData.tarifa_puesto" (input)="formatTarifa($event)" required>
    </div>
    <div class="form-group" style="text-align: center;">
        <label for="ays">Ays:</label>
        <input type="text" id="ays" name="ays" [value]="puestoData.ays" readonly>
    </div>
    <div class="form-group" style="text-align: center;">
        <label for="iva">IVA:</label>
        <input type="text" id="iva" name="iva" [value]="puestoData.iva" readonly>
    </div>
    <div class="form-group" style="text-align: center;">
        <label for="total">Total:</label>
        <input type="text" id="total" name="total" [value]="puestoData.total" readonly>
    </div>
    <button class="btn-danger" type="submit" [disabled]="vigilanciaForm.invalid">Crear </button>
</form>
    </div>

    </div>
</div>