<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 60rem;">
        <div class="card-header card-header-sena-azul">
            <h4 class="card-title"> Crear Puesto de Vigilancia </h4>
            <p class="card-category">Formulario para la creacion de puestos de vigilancia humana</p>
        </div>
        <div class="card-body">

            <form (ngSubmit)="onSubmit()" #vigilanciaForm="ngForm" id="form">
                <div class="row">
                    <div class="descripcion">
                        <label for="descripcion_puesto">Descripción:</label>
                        <input type="text" id="descripcion_puesto" class="form-control" name="descripcion_puesto"
                            [(ngModel)]="puestoData.descripcion_puesto" required style="width: 100%;">
                    </div>
                </div>
                <div class="Precios">
                    <div class="form-group">
                        <label for="tarifa_puesto">Tarifa:</label>
                        <input type="number" id="tarifa_puesto" name="tarifa_puesto" class="form-control"
                            [(ngModel)]="puestoData.tarifa_puesto" required (input)="formatTarifa($event)"
                            style="width: 50%;">
                    </div>
                    <div class="form-group">
                        <label for="ays">Ays:</label>
                        <input type="text" id="ays" class="form-control" name="ays" [value]="puestoData.ays"
                            style="width: 50%;" readonly>
                    </div>
                    <div class="form-group">
                        <label for="iva">IVA:</label>
                        <input type="text" id="iva" class="form-control" name="iva" [value]="puestoData.iva"
                            style="width: 50%;" readonly>
                    </div>
                    <div class="form-group">
                        <label for="total">Total:</label>
                        <input type="text" id="total" class="form-control" name="total" [value]="puestoData.total"
                            style="width: 50%;" readonly>
                    </div>
                </div>


                <button class="btn btn-danger" type="submit" [disabled]="!validarPuestos()">Crear Puesto </button>
            </form>
        </div>

    </div>
</div>